.card-blog {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  /* margin-bottom: 100px; */
}
.card-blog img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center center;
}
.card-blog .body-card-blog {
  padding: 20px;
  background-color: #fff;
}
.body-card-blog p {
  font-size: 18px;
  font-weight: 500;
}
